
.colImage {

  max-width: 14vw;
  overflow: hidden;

}

.imgArticle {

  width: 100%;
  height: 9vw;

}

.colDescription {

  overflow: hidden;
  width: 44vw;
  text-align: justify;

}
.colType {

  width: 5vw;

}

.blockQuantite {

  display: block;
  background-color: #3f51b5;
  padding: 13px;
  text-align: center;
  color: white;
  font-size: 19px;
  font-family: arial;

}

.buttonSuprArticle {

  width: 100%;
  height: 2vw;
  background-color: #2c2020;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;

}

.blockPrix {

  background-color: #fff;
  display: block;
  //padding: 8px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 17px;
  font-family: arial;
  text-align: -moz-center;

}

.btn {

  background-color: #3f51b5;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

}

.prix {

  font-size: 2vw;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  margin-left: 20px;
  font-family: arial;

}
input#inputDisabledEx2 {
  width: 3vw;
  height: 3vw;
}
.blockTotalPanier {
  text-align: center;
}