

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Image</th>
    <th scope="col">Type</th>
    <th scope="col">Nom</th>
    <th scope="col">Description</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody  *ngFor="let article of tableauArticle;let i=index">
  <tr   *ngIf="article.id !=null">
      <!--<div >-->
    <th scope="row" class="colImage"><div *ngIf="article.type==='Film'; else loggedOut">
        <img class="imgArticle" src="https://image.tmdb.org/t/p/w500/{{article.imagePath}}" />
       
    </div>
    <ng-template #loggedOut  >
        <img class="imgArticle" src="{{article.imagePath}}" />
    </ng-template>
</th>
    <td class="colType">{{article.type}}</td>
    <td>{{article.nom}}</td>
    <td class="colDescription">{{article.description}}</td>
    <td>

        <div class="blockPrix">

            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Prix total</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        <p id="prixU{{article.id}}" class="prix" >{{article.prix}}</p>
                    </th>
                    <td><!-- Default input -->
                        <p class="prix">{{prixArticle(i)}}</p>
                    </td>
                    <td> <button class="btn"><i (click)="supprimer(i)" class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <th scope="row" colspan="3">
                        <div class="blockQuantite">
                        <label>Quantité : </label>
                        <input type="number" id="quant{{article.id}}" [(ngModel)]="article.quantite" name="tentacles" min="0" value="{{article.quantite}}">

                    </div></th>
                </tr>

                </tbody>
            </table>
        </div>
    </td>

     <!-- </div>-->
  </tr>


  </tbody>
</table>

<div class="blockTotalPanier" *ngIf="tableauArticle != null; else loggedOut">
    <button type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" mdbWavesEffect>Payer : {{totalAchat()}}  $</button>
    <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event); commander()">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Commande enregistrée</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis
                            ad consequatur
                            in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis
                            totam.</p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                       data-dismiss="modal" routerLink="/acceuil">Acceuil</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

</div>
<ng-template #loggedOut  >
    <div class="blockTotalPanier">
        <button type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
                routerLink="/pizza" mdbWavesEffect>Payer : 0  $</button>
    </div>

</ng-template>

