<!-- Button trigger modal -->

<!-- Modal -->

<div  class="tile">
    <div class="tile__media">
        <img class="tile__img" src="{{image}}" alt=""  />
    </div>
    <div class="tile__details">
        <div class="tile__title">
            {{titre}}


        </div>
    </div>
</div>
<!-- Button trigger modal -->


