
    <br><br>
  <!-- {{histo | json}} -->
    
<div class="container" style="display: table">
    <div class="card"  *ngFor="let facts of histo.Facture;let i=index">



      <div class="card-body">
          <h3><b>facture num : {{facts.idFacture}}</b> </h3>
          <h3>Nombre d'articles : {{facts.articles.length}}</h3>
          <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
          (click)="frame.show()" mdbWavesEffect>Detail</button>          
     
    

    <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-left" role="document">
            <!--Content-->
            <div class="modal-content" >
                <!--Header-->
                <div class="modal-header">
                    <p class="heading">facture num : {{histo.idFacture}} </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body" >

                    <div class="row">
                       
                        <div class="col-9">
                           
                           <ul>
                             <li  *ngFor="let art of facts.articles">
                                <h4> Article : {{art.nomArticle}}</h4>
                                <p>{{art.description}}</p><p> , Quantité : {{art.quantite}} , Prix Unité : {{art.prixArticle}}</p>
                             </li>
                           </ul>
                            <h3>Total : {{facts.prixTotalFacture}}</h3>
                        </div>
                    </div>


                </div>

          
            </div>
            <!--/.Content-->
        </div>
    </div>
  </div>

    </div>
</div>