.container {
    max-width: 2500px;
  }

  button.btn.btn-default.btn-rounded {
    float: right;
}
.card[_ngcontent-c2] {
    float: left;
    width: 22vw;
    margin: 1vw;
    height: 11vw;
  }
  .modal-content {
    width: 40vw;
    height: 40vw;
}