
<div>
    <!-- Material input -->
    <!-- Default form subscription -->
    <form class="text-center border border-light p-5">


        <img class="imgProfil" src="{{personne.photo}}" />
        <p class="h4 mb-4">Mon profil </p>
        <!-- Name -->

        <label class="labelProfil">Nom : </label>
        <input type="text"  id="profilNom" class="form-control mb-4" value="{{personne.nom}}" placeholder="Name">

        <!-- Prenom -->
        <label class="labelProfil">Prenom : </label>
        <input type="text"   id="profilPrenom" class="form-control mb-4" value="{{personne.prenom}}" placeholder="Name">

        <!-- Photo -->
        <label class="labelProfil">Photo url : </label>
        <input type="text"   id="profilPhoto" class="form-control mb-4" value="{{personne.photo}}" placeholder="Name">


        <!-- Tel -->
        <label class="labelProfil">Telephone : </label>
        <input type="text"   id="profilTel" class="form-control mb-4" value="{{personne.tel}}" placeholder="Name">

        <!-- Adresse -->
        <label class="labelProfil">Adresse : </label>
        <input type="text"   id="profilAdresse" class="form-control mb-4" value="{{personne.adresse}}" placeholder="Name">




        <!-- Sign in button -->
        <button class="btn btn-info btn-block" (click)="modifier()" type="submit">Modifier</button>


    </form>
    <!-- Default form subscription -->
</div>


<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" routerLink="/historique">Historique</button>
