<br><br><br>

<div class="card mx-xl-5">

  <!-- Card body -->
  <div class="card-body">

    <!-- Default form subscription -->
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" >
      <p class="h4 text-center py-4">Sign IN</p>

      <!-- Default input name -->
      <div class="form-group">
        <label for="email"  class="grey-text font-weight-light" >Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>

      <br>

      <!-- Default input email -->
      <div class="form-group">
        <label for="password"  class="grey-text font-weight-light" >Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <div class="text-center py-4 mt-3">
        <button class="btn btn-outline-purple" type="submit" [disabled]="signinForm.invalid">Se connecter<i class="fa fa-paper-plane-o ml-2"></i></button>
      </div>
    </form>
    <!-- Default form subscription -->
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
  <div class="text-center py-4 mt-3">

    <button type="buton" class="btn btn-outline-purple" (click)="signInWithFacebook()">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Login with Facebook
    </button>
  <button type="button" class="btn btn-outline-purple" (click)="signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Google
  </button>
</div>
