@import '../../../assets/css/palette';

.body {
    display: flex;
    position: relative;
    margin: 1;
    margin-top: 15px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding : 0 10%;
    @media only screen and (min-width: 731px) {
        min-height: 500px;
    }
}

mat-card{
    max-width: 200px;
    padding: 0;
}

mat-card:hover {
    box-shadow: 2px 0 10px lightcyan;
}

mat-card-content{
    background: $white;
}


.image{
    width: 100%;
    overflow: hidden;
    min-height: 300px;    
    cursor: pointer;    

    @media only screen and (min-width: 731px) {
        background-position: initial;
    }
}


.info {
    color: $black;
    padding : 2px 5px 0px 5px;
    font-weight: 550;
    font-size: 16px;
    min-height: 83px;

    .shop{
        color:$teal;
        padding: 0;
        button{
            color: #fff;
            position: absolute;
            right: 1%;
            top: 80.63%;
            bottom: 70.87%;
            border: none; 
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            height: 28px;
            background: #111111;
            border-radius: 12px; 
            mat-icon{
                font-size: 15px;
                line-height: 1.5;
                color: #ffffff;
            }  
        }
    }

    .titreF{      
        cursor: pointer; 
        position: absolute;
        top: 93.75%;
        bottom: 68.8%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center; 
           
    }
    .vote{
        position: absolute ;
        left : 1%;
        top: 80.63%;
        bottom: 70.87%;
        color: #ffffff;
        width: 60px;
        height: 28px;
        background: #F44336;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius:20px;
        mat-icon{
            font-size: x-large;
            color: #ffffff;
        }
    }    
    
}

.movies-container{
    margin:  15px 15px 15px 15px;
    :first-child{
        margin-left: 0;
        margin-right: 0
    }
    :last-child{
        margin-left: 0;
        margin-right: 0
    }

}   

.mat {
    &-green {
        color: $green;
    }
    &-red {
        color: $primary;
    }
    &-teal {
        color: $teal;
    }
}