<!--BARRE DE NAVIGATION-->
<div class="main" [class.example-is-mobile]="mobileQuery.matches" fxFlex>

  <!--TOOLBAR-->
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()" fxShow="true" fxHide.gt-sm="true">
      <mat-icon>menu</mat-icon>
    </button>

    <!--ENTETE-->
    <!--    <img class="logo" src="assets/images/logo_MenuCinema.png" >-->
    <a routerLink="login" *ngIf="!authService.isAuth">
      <h1 class="titre">{{tittle}}</h1>
    </a>
    <div *ngIf="authService.isAuth"><a routerLink="home" class="itemTool">{{tittle}}</a></div>

    <!--LIST ITEM-->
    <div fxFlex fxLayout fxLayoutAlign="end center">

      <!--ROUTER FILMS/RESTAURANT-->
      <div class="itemTool" *ngIf="authService.isAuth" fxFlex fxShow="true" fxHide.lt-md="true">
        <a routerLink="cinéma/1">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 0C4.46154 0 0 4.46154 0 10C0 15.5385 4.46154 20 10 20C15.5385 20 20 15.5385 20 10C20 4.46154 15.5385 0 10 0ZM14.5934 10.7253L7.91209 14.6154C7.78022 14.7033 7.62637 14.7253 7.49451 14.7253C7.36264 14.7253 7.20879 14.7033 7.07692 14.6154C6.83517 14.4835 6.65934 14.1978 6.65934 13.8901V6.10989C6.65934 5.8022 6.83517 5.51648 7.07692 5.38462C7.31868 5.25275 7.67033 5.25275 7.91209 5.38462L14.5714 9.27473C14.8132 9.40659 14.989 9.69231 14.989 10C15.011 10.3077 14.8352 10.5934 14.5934 10.7253Z"
              fill="white" />
            <path d="M8.32959 12.4397L12.5054 10.0001L8.32959 7.56055V12.4397Z" fill="white" />
          </svg>
          TOUS LES FILMS</a>
        <a routerLink="menu">
          <svg width="31" height="20" viewBox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.4942 6.66598C15.4854 6.65377 15.4715 6.64564 15.4575 6.64331C15.45 6.64622 15.4436 6.6497 15.4384 6.65319L15.4645 6.68749L15.4942 6.66598Z" fill="white" />
            <path
              d="M13.5649 3.3103C12.8569 4.57687 12.3809 5.93295 12.1484 7.34774C11.9222 8.73463 11.942 10.1756 12.203 11.5421L22.0496 8.67186L14.3106 3.78171L13.5649 3.3103ZM14.6181 9.88727C14.474 9.99306 14.3048 10.0494 14.1305 10.0494C14.0898 10.0494 14.0491 10.0465 14.0078 10.0401C13.7956 10.0082 13.6096 9.89599 13.4835 9.7251C13.2219 9.36995 13.3016 8.86425 13.662 8.59862C13.8381 8.46725 14.0555 8.41203 14.2711 8.44516C14.4833 8.47713 14.6699 8.58874 14.796 8.76021C15.057 9.11536 14.9773 9.62047 14.6181 9.88727ZM17.3245 7.88657C17.4872 7.76625 17.6866 7.71684 17.8871 7.74533C18.083 7.77439 18.2557 7.87843 18.3725 8.03596C18.6143 8.36437 18.5411 8.83054 18.2097 9.077C18.0761 9.17523 17.9197 9.22696 17.7593 9.22696C17.7215 9.22696 17.6837 9.22464 17.6459 9.21882C17.45 9.18976 17.278 9.08571 17.1611 8.92819C17.1611 8.92761 17.1611 8.92761 17.1606 8.92761C16.9193 8.5992 16.9932 8.13245 17.3245 7.88657ZM15.0169 6.09222C15.1808 5.97015 15.379 5.91958 15.5813 5.95039C15.7777 5.97945 15.9498 6.0835 16.0672 6.2416C16.3096 6.57002 16.2358 7.03735 15.9027 7.2838C15.7702 7.38204 15.6132 7.43377 15.4522 7.43377C15.4145 7.43377 15.3767 7.43086 15.3389 7.42505C15.143 7.39599 14.9704 7.29194 14.853 7.13384C14.6117 6.80543 14.685 6.33809 15.0169 6.09222Z"
              fill="white" />
            <path d="M17.8 8.52075C17.8162 8.50854 17.8174 8.48122 17.8023 8.45972L17.7715 8.48239L17.8 8.52075Z" fill="white" />
            <path d="M15.1029 16.2549L0 8.43579V12.4849L15.1029 20V16.2549Z" fill="white" />
            <path d="M15.8981 16.2549V19.9808L31.001 11.9553V8.43579L15.8981 16.2549Z" fill="white" />
            <path
              d="M30.5372 7.78483L15.5005 0L0.463867 7.78483L15.5005 15.5697L30.5372 7.78483ZM11.9025 12.4367C11.8322 12.4367 11.763 12.4181 11.7014 12.382C11.6066 12.3268 11.5392 12.2355 11.5148 12.1292C11.1509 10.5452 11.0986 8.84796 11.3637 7.22043C11.634 5.57488 12.2141 4.00373 13.0871 2.55232C13.1423 2.46048 13.2318 2.39538 13.3365 2.37038C13.4411 2.34539 13.5504 2.36399 13.6411 2.42153L23.2162 8.47246C23.3475 8.55558 23.4185 8.70787 23.3964 8.86191C23.3749 9.01536 23.2644 9.14208 23.115 9.18567L12.0141 12.421C11.9775 12.432 11.9397 12.4367 11.9025 12.4367Z"
              fill="white" />
          </svg>
          TOUS LES PRODUITS </a>
      </div>

      <!--
      <span class="fill-remaining-space" *ngIf="!authService.isAuth">
          <button mat-icon-button routerLink="login"><mat-icon>person</mat-icon></button>
      </span>  -->

      <!--ITEM PERSON/PANIER-->
      <span class="fill-remaining-space" *ngIf="authService.isAuth">
        <button mat-icon-button [matMenuTriggerFor]="compte" style="width: 130px;">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect width="20" height="20" fill="url(#pattern0)" />
            <defs>
              <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0" transform="scale(0.0208333)" />
              </pattern>
              <image id="image0" width="48" height="48"
                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAACP0lEQVRYCe3BzUpUYQDH4b/j2DDSlykuLL0BTcvUVKi7MHThrqSMqJ0fF6AlmIYiAxa4F4yUIaGbELGIdppu1Knoa+YM6q9NMGde33fOHHXhwueRzuj0I0IHwyywRoosWVKsscAQ7UR0XNQxxhYumzynVkdFNbNkCeKRoErh0cs3ipWiR2FQxhvCShBVcShnmaNIUq5glLGMTZpxmokR4xYTZLBJElUQXmOzQb18uM4mNgkVRi82aeploBEPm265Uc13bMZlwSQ2u1TKhVnsmmVBC3YzsqOOLHYxWRDHzuOqbBjDJSYL4riM6jAibOHSLAtacdmgRCY6cHspC17h1iYTw7hlaJCBJjzcBmVigUK+0iAfmtikkHmZWKOwDBO0ECdOK5N4FLYqEylO0o5MZDlJnkxkOUmeTKQIssc6K6ywwR5BdmRiDZc/vKWfG5zTf8S4yWPekcZlVSYWsPlMH+flwAUe8gWbeZkYwvSXJ5QqAFGekcY0IBPt5PvFbRWJTn6Tr1UmImzi168QeIrfOiU6jBf4XVYIXMFvRDbUkiXnvkKgj5wMNbIjQU6aThWJO2TImZILVaTI+UGnisBdfpKzTYXc6MEvzQMF4BEefl0qjAT5lmmQA418IN+0ghAlSb4Dktzjony4RDfvOSDfEqUKRjlJDtvnI4vMMccin9jnsCXiKg5REoQ1TanCoIddirVNl8Kjkhk8gmSYokJHxTVG2cBlnRFqdFxEaGOQeVbZwcNjh1XmGaCVEp3R6fcPYgeoZVXn49EAAAAASUVORK5CYII=" />
            </defs>
          </svg>
          Mon compte
        </button>
        <button mat-icon-button (click)="getPanierItem()" style="width: 150px;">
          <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M21.6247 5.7945L20.3019 7.11729C20.0144 7.40486 19.5543 7.40486 19.2667 7.11729L18.059 5.90953C17.8864 5.73699 17.5988 5.62197 17.3113 5.62197H8.56938C8.28181 5.62197 7.99425 5.73699 7.82171 5.90953L6.61395 7.11729C6.32638 7.40486 5.86628 7.40486 5.57872 7.11729L4.25593 5.7945C4.14091 5.67948 3.91086 5.56445 3.73832 5.56445H0.690151C0.287563 5.56445 0 5.90953 0 6.2546V8.44008C0 8.84267 0.345076 9.13023 0.690151 9.13023L25.133 9.18774C25.5356 9.18774 25.8807 8.84267 25.8807 8.4976V6.2546C25.8807 5.85202 25.5356 5.56445 25.1905 5.56445H22.1423C21.9123 5.62197 21.7398 5.67948 21.6247 5.7945Z"
              fill="white" />
            <path
              d="M3.45076 20.0001H22.4299C22.775 20.0001 23.0625 19.7701 23.1201 19.425L24.8454 10.7406C24.9605 10.2805 24.6154 9.87793 24.1553 9.87793H1.72538C1.26528 9.87793 0.920208 10.2805 1.03523 10.7406L2.76061 19.425C2.81812 19.7701 3.10569 20.0001 3.45076 20.0001ZM17.9439 11.2582C18.3465 11.2582 18.6916 11.6033 18.6916 11.9484V16.3193C18.6916 16.7219 18.3465 17.0095 18.0014 17.0095C17.5989 17.0095 17.3113 16.6644 17.3113 16.3193V12.0059C17.2538 11.6033 17.5989 11.2582 17.9439 11.2582ZM12.9403 11.2582C13.3429 11.2582 13.688 11.6033 13.688 11.9484V16.3193C13.688 16.7219 13.3429 17.0095 12.9978 17.0095C12.5953 17.0095 12.3077 16.6644 12.3077 16.3193V12.0059C12.1927 11.6033 12.5378 11.2582 12.9403 11.2582ZM7.87923 11.2582C8.28182 11.2582 8.62689 11.6033 8.62689 11.9484V16.3193C8.62689 16.7219 8.28182 17.0095 7.93674 17.0095C7.53415 17.0095 7.24659 16.6644 7.24659 16.3193V12.0059C7.18908 11.6033 7.53416 11.2582 7.87923 11.2582Z"
              fill="white" />
            <path
              d="M6.61401 5.27678L1.5529 0.215672C1.26534 -0.0718907 0.805237 -0.0718907 0.517674 0.215672C0.230111 0.503235 0.230111 0.963335 0.517674 1.2509L5.57878 6.312C5.86634 6.59957 6.32645 6.59957 6.61401 6.312C6.90157 6.02444 6.90157 5.56434 6.61401 5.27678Z"
              fill="white" />
            <path
              d="M25.363 0.215672C25.0755 -0.0718907 24.6154 -0.0718907 24.3278 0.215672L19.2667 5.27678C18.9791 5.56434 18.9791 6.02444 19.2667 6.312C19.5543 6.59957 20.0144 6.59957 20.3019 6.312L25.363 1.2509C25.6506 0.963335 25.6506 0.503235 25.363 0.215672Z"
              fill="white" />
          </svg>
          Mon panier ({{ listPlats.length + listFilms.length }})
        </button>

        <!--CONTENT PANIER-->
        <!-- Container for sidebar(s) + page content -->
        <ngx-flyout [(open)]="openFlyout">
          <app-panier [listFilms]="filmList" [listPlats]="platList" [total]="total"></app-panier>
        </ngx-flyout>

        <!--CONTENT PERSON-->
        <mat-menu #compte="matMenu" class="person">
          <mat-nav-list>
            <a mat-list-item routerLink="client">
              <span class="nav-caption">Mon compte</span>
            </a>
            <a mat-list-item routerLink="commande">
              <span class="nav-caption">Mes commandes</span>
            </a>
            <a mat-list-item (click)="logout()">
              <span class="nav-caption">Déconnexion</span>
            </a>
          </mat-nav-list>
        </mat-menu>

      </span>
    </div>
    <!--END LIST-->

  </mat-toolbar>


  <!--SIDENAV-->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <!--ACCUEIL-->
      <mat-nav-list class="menu-content">

        <!--ROUTER LOGIN-->
        <a mat-list-item *ngIf="!authService.isAuth" routerLink="login">
          <mat-icon>person</mat-icon><span class="nav-caption">Connexion</span>
        </a>

        <div *ngIf="authService.isAuth">

          <!--ROUTER CLIENT-->
          <a mat-list-item class="active" routerLink="client">
            <span class="nav-caption">ESPACE CLIENT</span>
          </a>

          <!--ROUTER CLIENT - PROFIL-->
          <a mat-list-item routerLink="client">
            <mat-icon>person</mat-icon><span class="nav-caption">Mon Compte</span>
          </a>

          <!--HISTORIQUE DES COMMANDES-->
          <a mat-list-item routerLink="commande">
            <mat-icon></mat-icon><span class="nav-caption">Mes Commandes</span>
          </a>

          <!--MENU-->
          <a mat-list-item routerLink="menu">
            <mat-icon></mat-icon><span class="nav-caption">Restaurant</span>
          </a>

          <!--CINEMA-->
          <a mat-list-item routerLink="cinéma/1">
            <mat-icon></mat-icon><span class="nav-caption">Cinéma</span>
          </a>

          <!--DECONNECTION-->
          <a mat-list-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon><span class="nav-caption">Déconnexion</span>
          </a>
        </div>

      </mat-nav-list>

    </mat-sidenav>

    <!--CONTENT-->
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>

      <!--FOOTER-->
      <app-footer></app-footer>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<script>
  // Détection du support
  if (typeof localStorage != 'undefined') {} else {
    alert("sessionStorage n'est pas supporté");
  }
</script>
