@import '../assets/css/palette';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  margin-top: 0;
  margin-bottom: 0;
}

mat-sidenav {
  width: 230px;
}

mat-nav-list{
  margin-top: 0;
}

mat-sidenav-content{
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.example-is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.example-is-mobile .sidenav-container {
  flex: 1 0 auto;
}


.nav-caption{
  display: inline-block;
  padding-left: 6px;
}

.toolbar{
  height: 64px;
  //background: #212121!important;
  background:#F44336;
  position: fixed;

}

.titre {
  //margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 22px;
  color: $white!important;
  @media only screen and (max-width: 375px) {
    margin-left: 10;
    font-size: 20px;
  }
}

.logo{
  float: left;
 // margin-left: 7px;
  //width: 43px;
  //width: 120px;
  height: 65px;
  margin-bottom: 5px;
  margin-right: 3px;
  @media only screen and (max-width: 400px) {
    display: none;
  }
}

.active{
  background: $primary!important;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: 5%;
}

a{
  padding: 0 3%;
  text-decoration: none;
  color: #FFF !important;
}
a:focus {
  outline: none !important;
  text-decoration: none!important;
  color: #FFF !important;
  background: #ffffff52;
    padding: 10px 10px 10px 10px !important;
}

.itemTool{
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 20px;
  text-align: end;
  a{
    padding: 0 3%;
    text-decoration: none;
    color: #FFF !important;
  }
  a:focus {
  	outline: none !important;
  	text-decoration: none;
  	color: #FFF !important;
  	background: #ffffff52;
      padding: 10px 10px 10px 10px !important;
  }
}
