
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">{{film.title}}</h2>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <img *ngIf="film.poster_path!=null ; else loggedOut" class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" alt="Sample image">
                <ng-template #loggedOut>
                    <img  class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{film.backdrop_path}}" alt="Card image cap">
                </ng-template>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

            <!-- Category -->
            <div  class="green-text">
                <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>Film</h6>
            </div>
            <!-- Post title -->
            <div >
            <h3 class="font-weight-bold mb-3"><strong>Detail</strong></h3>
            <!-- Excerpt -->
                <p><strong><b>Vue d'ensemble :</b></strong>{{film.overview}}</p>
                <p><strong><b>Popularité :</b></strong>{{film.popularity}}</p>
                <p><strong><b>Revenue :</b></strong>{{film.revenue}} <b>$</b></p>
                <p><strong><b>Durée :</b></strong>{{film.runtime}}<b> minutes</b></p>
                <strong><b>Genre :</b></strong>
                <ul *ngFor="let gen of film.genres">
                    <li >{{gen.name}}</li>
                 </ul>


            </div>
            <!-- Post data -->
            <p><strong><b>Date de réalisation :</b></strong>{{film.release_date}}</p>
            <!-- Read more button -->

            <button class="btn btn-success btn-md" [disabled]="!ajoutFilmPanier"
                    (click)="ajouterPanier(film.id,film.poster_path,film.title,film.overview,1,10)" routerLink="/acceuil">Ajouter
            </button>

        </div>
        <!-- Grid column -->

    </div>


</section>