.example-card{
  background: #FFFFFF;
  color: #111111;
  width: 90%;
    text-align: center;
   margin: 0 auto;


  //widows:50%;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #F44336;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-family: SourceSansPro;
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  //#AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid;
  //#0087C3;
  float: left;
}

#client .to {
 color: #111111;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
 // color: #777777;
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  padding: 5px;
}

table th,
table td {
  padding: 20px;
  background: #ffffff;
  text-align: center;
  border-bottom: 1px solid;
  //#FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  /*text-align: right;*/
}

table td h3{
  //color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table tfoot {
  border-top: 1px #FFFFFF;
  color: #111111;
}

table .no {
  width: 50%;
}

table .desc {
  text-align: left;
}

table .unit {
  //background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  //border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #ffffff;
  color: #111111;
  //border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid;
  //#AAAAAA;
}

table tfoot tr:first-child td {
  //border-top: none;
}

table tfoot tr:last-child td {
  //color: #57B223;
  font-size: 1.4em;
  //border-top: 1px solid;
  //#57B223;

}

table tfoot i {
  font-size: 0.8em;
  font-weight: lighter;
}

table tfoot tr td:first-child {
  border: 1px solid;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}


footer {
  color: #111111;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid;
  //#AAAAAA;
  padding: 8px 0;
  text-align: center;
}


.image{
  width: 100%;
  overflow: hidden;
  min-height: 300px;

  @media only screen and (min-width: 731px) {
    background-position: initial;
  }
}

