/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 oct. 2018, 16:10:32
    Author     : ayoubghammaz
*/

.body{

    color:black;
    background-color:white;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
     background-position: center;
    background-size: 100% auto;

    width: 1000px;
    margin: auto;
    font-size: 20px;
    font-family: 'Source sans Pro',Calibri,Tohama,sans-serif;


}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 2px 3px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.table1  {
    border-collapse: collapse;
    border: 4px solid black;
    font-family: arial, sans-serif;
    width:1000px;
    text-align:center;

}

.thtd {
    padding: 20px;
    text-align: left;
    border-bottom: 5px solid #ddd;
    width: 1000px ;
}
