<!--The content below is only a placeholder and can be replaced.-->
<!--
<h1>MenuCinéma.com</h1>
<p>Page github : <a href="https://github.com/AlexDmr/l3m_menucinema">https://github.com/AlexDmr/l3m_menucinema</a></p>
<p><a href="https://docs.google.com/document/d/1cQcOzhEYcMNmTqi-8eqjO4gbCwUZ_qd_y01GYAJYrYU/edit?usp=sharing">Google doc du projet</a></p>
<p><a href="https://docs.google.com/document/d/1eeCz9V31ZZCTw5AyFR7bNct-nLYuV9wykSdxAONhHM0/edit?usp=sharing">Google doc de la partie client</a></p>
-->
<app-header></app-header>

<div style="text-align: center">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<router-outlet></router-outlet>
