<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>


<div class="loading-shade" *ngIf="isLoading" fxLayoutAlign="center center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>


<div class="body" *ngIf="!isLoading">

  <!--HEADER-->
  <h1>{{tittle | uppercase}}</h1>
  <hr>

  <!--Formulaire d'inscription-->
  <mat-horizontal-stepper linear labelPosition="bottom" #stepper class="valider">

    <!-----------------------------------STEP 1 : VOTRE PANIER----------------------------------------->

    <mat-step>
      <ng-template matStepLabel>Panier</ng-template>
      <span class="sous-tittle" fxLayout="row" fxLayoutAlign="center center">VOTRE PANIER</span>

      <!-----------------------------------ENTETE----------------------------------------->

      <div fxFill class="header">
        <span fxFlex="20">Produit</span>
        <span fxFlex="72">Description</span>
        <span fxFlex="7">Prix</span>
      </div>
      <hr>

      <!-----------------------------------FILMS LIST----------------------------------------->

      <div *ngIf="listFilms.length > 0">
        <!--ACHAT FILM-->
        <p-orderList [value]="listFilms">

          <ng-template let-film let-i="index" pTemplate="item">
            <div class="ui-helper-clearfix">
              <table>
                <tr>
                  <!--IMAGE-->
                  <td>
                    <img src="https://image.tmdb.org/t/p/w500{{film.photo}}" class="image" width="100">
                  </td>

                  <td class="info">
                    <table style="width: 100%">
                      <tr>
                        <td>
                          <!--NOM / PRIX-->
                          <div class="details-nom">{{film.nom}}
                            <span style="float: right; font-size: 13px;font-weight: bolder;">{{film.prix | mycurrency}}</span>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <!--DELETE BUTTON-->
                          <div fxLayout="row" fxLayoutAlign="end center" class="trash">
                            <button class="butt" (click)="deleteF(i)"> <i class="pi pi-times" style="padding-left: 3px;font-size:20px"></i> </button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>

                </tr>
              </table>
            </div>

            <hr>
          </ng-template>

        </p-orderList>
      </div>

      <!----------------------------------------------PLATS LIST --------------------------------------------->

      <!--ACHAT Plat-->
      <div *ngIf="listPlats.length > 0">
        <p-orderList [value]="listPlats">

          <ng-template let-plat let-i="index" pTemplate="item">
            <div class="ui-helper-clearfix">
              <table>
                <tr>
                  <!--IMAGE-->
                  <td>
                    <img src="assets/images/menu/{{plat.id}}.png" class="image" width="100" height="130">
                  </td>

                  <td class="info">
                    <table style="width: 100%">
                      <tr>
                        <td>
                          <!--NOM / QUANTITE-->
                          <div class="details-nom">{{plat.nom}}
                            <span style="float: right; font-size: 13px;font-weight: bolder;">{{plat.prix * plat.quantite | mycurrency}} </span>
                          </div>
                          <span style="padding-left: 2px;font-size:10px;color: gray;">Quantité {{plat.quantite}}</span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <!--DELETE BUTTON-->
                          <div fxLayout="row" fxLayoutAlign="end center" class="trash">
                            <button class="butt" (click)="deleteP(i)"> <i class="pi pi-times" style="padding-left: 3px;font-size:20px"></i> </button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>

                </tr>
              </table>
            </div>

            <hr>
          </ng-template>

        </p-orderList>
      </div>

      <!---------------------------------------------------TOTAL----------------------------------------------------->

      <!--TOTAL-->
      <div class="total">
        <!--POINT-->
        <div class="point">
          <span style="float: left">Vous avez actuellement {{points}} points</span>&nbsp;&nbsp;
          <mat-slide-toggle color="warn" (click)="calculTotal()" *ngIf="points >= 10">les utilisé</mat-slide-toggle>
        </div>

        <div style="font-size: smaller;color: #7f7878;"> sous-total : <span style="float: right;">{{total | mycurrency}}</span> </div>
        <div> Total : <span style="float: right">{{totalFinal | mycurrency}}</span> </div>

      </div>

      <!--SUIVANT-->
      <div style="padding-top: 5%" fxLayout="row" fxLayoutAlign="end end">

<!--        <button mat-raised-button color="warn" *ngIf="!boolFilmAndPlat" onClick="window.open('/cinéma/1', '_self')" style="width: 200px;"> Ajouter votre premier film </button>-->

        <!--SUIVANT-->
        <div style="padding-top: 5%" fxLayout="row" fxLayoutAlign="end end">
            <button mat-button matStepperNext  *ngIf="boolFilmAndPlat" ><span>VALIDER LE PANIER</span><mat-icon>navigate_next</mat-icon></button>
          <button style="background-color: #F44336;color: #ffffff;border: none" type="button" (click)="afficherErreurFilm()" *ngIf="listFilms.length===0"  pButton icon="pi pi-info-circle" label="VALIDER LE PANIER"></button>
          <button style="background-color: #F44336;color: #ffffff;border: none"  type="button" (click)="afficherErreurProduit()" *ngIf="listPlats.length===0 && listFilms.length!==0"  pButton icon="pi pi-info-circle" label="VALIDER LE PANIER"></button>
        </div>
</div>
      <p-dialog [(visible)]="boolErreurProduit"  header="Erreur" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
                [maximizable]="true" [baseZIndex]="10000">

        <p> Il manque au moins un produit dans votre panier pour le valider</p>
        <p-footer>

          <div class="wrapper">
            <a class="cta" routerLink="menu">
              <span>Produit</span>
              <span>
                <svg width="30px" height="30px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                    <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                    <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                  </g>
                </svg>
              </span>
            </a>
          </div>
        </p-footer>
      </p-dialog>

      <p-dialog [(visible)]="boolErreurFilm"  header="Erreur" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
                [maximizable]="true" [baseZIndex]="10000">

       <p>Il manque au moins un film dans votre panier pour le valider</p>
        <p-footer>

          <div class="wrapper">
            <a class="cta" routerLink="/cinéma/1">
              <span>Film</span>
              <span>
                <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                    <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                    <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                  </g>
                </svg>
              </span>
            </a>
          </div>
        </p-footer>
      </p-dialog>

    </mat-step>


    <!---------------------------------STEP 2 : Informations Client-------------------------------------->


    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informations Client</ng-template>
        <span class="sous-tittle" fxLayout="row" fxLayoutAlign="center center">INFORMATIONS CLIENT</span>

        <table class="example-full-width" cellspacing="3">
          <tr>
            <td>
              <!--Nom-->
              <mat-form-field class="example-full-width" float="always">
                <mat-label>Nom</mat-label>
                <input matInput type="text" id="nom" name="nom" [(ngModel)]="user.nom" placeholder="Nom" formControlName="nom" required />
                <mat-error *ngIf="!firstFormGroup.controls['nom'].valid && firstFormGroup.controls['nom'].touched">
                  Veuillez entrer un nom
                </mat-error>
              </mat-form-field>
            </td>

            <td>
              <!--Prénom-->
              <mat-form-field class="example-full-width" float="always">
                <mat-label>Prénom</mat-label>
                <input matInput type="text" id="prenom" name="prenom" [(ngModel)]="user.prenom" placeholder="Prénom" formControlName="prenom" required />
                <mat-error *ngIf="!firstFormGroup.controls['prenom'].valid && firstFormGroup.controls['prenom'].touched">
                  Veuillez entrer un prénom
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <!--Tel-->
          <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>Télephone</mat-label>
            <input matInput type="text" id="tel" name="tel" [(ngModel)]="user.tel" placeholder="Télephone" formControlName="tel" required />
            <mat-error *ngIf="!firstFormGroup.controls['tel'].valid && firstFormGroup.controls['tel'].touched">
              Veuillez entrer un numéro téléphone
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <!--Email-->
          <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email" pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$' placeholder="Email" [(ngModel)]="user.email" formControlName="email" required />
            <mat-error *ngIf="!firstFormGroup.controls['email'].valid && firstFormGroup.controls['email'].touched">
              l'adresse email est invalide.
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <!--ADRESSE CLIENT-->
          <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>Adresse de livraison</mat-label>
            <input matInput type="text" id="adresse" placeholder="Adresse" name="adresse" formControlName="adresse" [(ngModel)]="user.adresse" />
          </mat-form-field>
        </p>

        <p>
          <!--RUE-->
          <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>Rue</mat-label>
            <input matInput type="text" placeholder="Rue" name="rue" formControlName="rue" [(ngModel)]="adresse.rue" />
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="3">
          <tr>
            <td>
              <!--Code Postal-->
              <mat-form-field class="example-full-width" floatLabel="always">
                <mat-label>Code postal</mat-label>
                <input matInput #postalCode type="text" pattern="[0-9]{5}" maxlength="5" name="codepostal" [(ngModel)]="adresse.codePostal" placeholder="Code postal" formControlName="codepostal" />
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              </mat-form-field>
            </td>

            <td>
              <!--Ville-->
              <mat-form-field class="example-full-width" floatLabel="always">
                <mat-label>Ville</mat-label>
                <input matInput type="text" id="ville" name="ville" [(ngModel)]="adresse.ville" placeholder="ville" formControlName="ville" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <!--Etage/info conplémentaire-->
          <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>Complémentaire</mat-label>
            <input matInput type="text" name="compl" [(ngModel)]="adresse.compl" placeholder="Compl" formControlName="compl" />
          </mat-form-field>
        </p>

        <!--PRECEDENT/SUIVANT-->
        <div style="padding-top: 5%" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="50">
          <button mat-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon><span style="padding-right: 30px;">RETOUR</span>
          </button>
          <button mat-button matStepperNext (click)="concatenation()" [disabled]="!firstFormGroup.valid "><span>SUIVANT</span>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>

      </form>
    </mat-step>



    <!---------------------------------STEP 3-------------------------------------->


    <mat-step>
      <form [formGroup]="secondFormGroup">
        <!--COORDONNEE BANCAIRE-->
        <ng-template matStepLabel>Paiement</ng-template>
        <span class="sous-tittle" fxLayout="row" fxLayoutAlign="center center">PAIEMENT BANCAIRE</span>

        <div style="font-size: 30px;" fxLayout="row" fxLayoutAlign="space-around center">
          <div *ngFor="let icon of itemCarte">
            <div><i class="{{icon.name}}"></i></div>
          </div>
        </div>

        <p>
          <mat-form-field style="width: 210px;padding-top: 5%" floatLabel="always">
            <mat-label>Numéro de la carte</mat-label>
            <input matInput type="number" placeholder="Numero de la carte" name="numero" formControlName="numero" pattern='[0-9\s]{16,}' />
            <mat-error *ngIf="!secondFormGroup.controls['numero'].valid && secondFormGroup.controls['numero'].touched">
              minimum 16 chiffres
            </mat-error>
          </mat-form-field>
        </p>

        <!--DATE EXPIRATION-->
        <table>
          <tr>
            <td>
              <!--Mois-->
              <mat-form-field style="width: 100px;" floatLabel="always">
                <mat-label>Mois</mat-label>
                <mat-select name="mois">
                  <mat-option *ngFor="let m of mois" [value]="m">
                    {{m}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td>
              <!--Ville-->
              <mat-form-field style="width: 100px;" floatLabel="always">
                <mat-label>Année</mat-label>
                <mat-select name="annee">
                  <mat-option *ngFor="let a of annee" [value]="a">
                    {{a}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <!--CCV-->
          <mat-form-field style="width: 60px;" floatLabel="always">
            <mat-label>CVC</mat-label>
            <input matInput type="number" name="crypto" pattern='[0-9]{3}' placeholder="Cryptogramme" formControlName="crypto" />
            <mat-error *ngIf="!secondFormGroup.controls['crypto'].valid && secondFormGroup.controls['crypto'].touched">
              3 chiffres
            </mat-error>
          </mat-form-field>
        </p>

        <!--SUIVANT-->
        <div style="padding-top: 5%" fxLayout="row" fxLayoutAlign="end end">
          <button mat-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon><span style="padding-right: 30px;">RETOUR</span>
          </button>
          <button mat-button matStepperNext (click)="finaliser()" [disabled]="!secondFormGroup.valid "><span>FINALISER</span>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>

      </form>
    </mat-step>


  </mat-horizontal-stepper>

</div>

<p-dialog header="Facture de la commande" [(visible)]="showFacture" [responsive]="true" showEffect="fade" [style]="{width: '900px'}" [positionTop]="70" (onHide)="onDialogHide()">
  <app-facture-client (onDialogHide)="onDialogHide()" [factureXML]="factureToInject" *ngIf="showFacture"></app-facture-client>
</p-dialog>
