@import '../../../assets/css/palette';

*, ::after, ::before  {
    padding: 0;
    margin : 0;
    color : $black;
}

.loading-shade{
    padding-top: 30%;
    margin-bottom: 50%;
}

h1{
    padding: 3% 5%;
    text-align: center;
    color: $black;
    font-size: 30px;
    font-weight: 100;
}

td:last-child{
    padding-left: 2%;
}

td:first-child{
    padding-right: 2%;
}

.example-full-width {
    width: 100%;
}

.sous-tittle{
    letter-spacing: 5px;
    padding-bottom: 3%;
}

.body {
    width: 100%;
    background: $white;
    padding : 0 10%;

    form{
        width:100%;
        height: auto;
        .mat-error{
            color:red!important;
        }
    }

    button{
        color:$black;
    }

    .btn{
        color:$black;
        padding: 0;
        font-weight: lighter;
    }

    .header{
        padding: 1% 3px;
        span{
            font-size: small;
            columns: #111111;;
        }
    }

    input{
        color : $grey;
        font-weight: lighter;
        font-size: 16px;
        //border:transparent;
        /* Firefox */
        -moz-appearance: textfield;

        /* Chrome */
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin:0;
        }

        /* Opéra*/
        &::-o-inner-spin-button {
            -o-appearance: none;
            margin: 0;
        }

    }

}


.total{
    margin: 2% 0;
    font-weight: 500;
    letter-spacing: 2px;
}

.info{
    width : 100%;

    .details-nom{
        font-size:12px;
        margin:7px 3px 3px 2px;
        font-weight: bolder;
    }

    .trash{
        font-size:14px;
        float:right;
        margin:0;
    }
}

.image{
    display:inline-block;
    margin:2px 0 2px 2px
}


.butt{
    padding : 0;
    background: transparent;
    border:none;
}


.point{
    font-size: small;
    padding-bottom: 2%;
    font-weight: lighter;
}

mat-card{
    height: 50%;
    padding: 5% 10%;
    color: $black;
    background: $white;
}













@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  //padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg)
}

span:nth-child(2) {
  width: 25px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
