
<!-- Section: Blog v.1 -->


<section class="my-5" *ngFor="let plat of pizza;let i =index ">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">{{plat.infos.nom}}</h2>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <img class="img-fluid" src="{{plat.infos.imagePath}}" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

            <!-- Category -->
            <div class="green-text">
                <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>{{plat.infos.type}}</h6>
            </div>
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>Ingredients : </strong></h3>
            <!-- Excerpt -->
            <div *ngFor=" let ingredients of plat.ingredients">
                <p>{{ingredients.ingredient}}</p>

            </div>

            <!-- Post data -->
            <h3>Prix : {{plat.infos.prix}} euro</h3>
            <!-- Read more button -->
            <br><br>
            <a class="btn btn-success btn-md" routerLink="/acceuil"  (click)="ajouterPanier(plat.infos.id,plat.infos.imagePath,plat.infos.nom,i,plat.infos.type,plat.infos.prix)">Ajouter</a>

        </div>
        <!-- Grid column -->

    </div>


</section>
<!-- Section: Blog v.1 -->