@import '../../../assets/css/palette';

.body {
    display: flex;
    position: relative;
    margin: 1;
    margin-top: 15px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding : 0 10%;
    @media only screen and (min-width: 731px) {
        min-height: 500px;
    }
}

mat-card{
    max-width: 250px;
    padding: 0;
    margin-bottom: 25px;
    height: 410px;
    background: #fff;
}

mat-card:hover {
    box-shadow: 5px 0 15px lightcyan;
    

}

mat-card-content{
    background: $white;
}


.image{
    width: 100%;
    overflow: hidden;
    min-height: 300px;    
    cursor: pointer;    

    @media only screen and (min-width: 731px) {
        background-position: initial;
    }
}

.plat-container{
    margin:  18px 18px 18px 18px;
    :first-child{
        margin-left: 0;
        margin-right: 0;
    }
    :last-child{
        margin-left: 0;
        margin-right: 0;
    }

}   

.info {
    color: $black;
    padding : 3px 6px 1px 6px;
    font-weight: 550;
    font-size: 16px;
    min-height: 80px;

    .details{
        font-size: 16px;     
        padding: 0;
        padding-bottom: 10px;   
        button{
            color: #fff;
            position: absolute;
            right: 1%;
            top: 80.63%;
            bottom: 70.87%;
            border: none; 
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            height: 28px;
            background: #111111;
            border-radius: 12px; 
            mat-icon{
                font-size: 15px;
                line-height: 1.5;
                color: #ffffff;
            }  
        }
        .prix{
            color: #fff;
            position: absolute ;
            left : 1%;
            top: 80.63%;
            bottom: 70.87%;
            b{
                width: 110%;
                height: 25px;
                background: #F44336;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                border-radius:20px;
            }
        }
        
    }
}

.ingredient-item {
    display: inline-table;

    span{
        display: inline;       
        margin-left: 1px;
        margin-right: 3px;
        color: #666;           
    }
}
.nomFilm{
    position: absolute;
    top: 92.75%;
    bottom: 68.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
}