<div class="content-panier">
  <mat-card *ngIf="listPlats.length > 0 || listFilms.length > 0">
    <!--HEADER-->
    <mat-card-header>
      <mat-card-title>
        <svg width="46" height="38" viewBox="0 0 46 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M38.1875 11.0094L35.8516 13.5226C35.3438 14.069 34.5313 14.069 34.0235 13.5226L31.8907 11.2279C31.586 10.9001 31.0782 10.6815 30.5704 10.6815H15.1328C14.625 10.6815 14.1172 10.9001 13.8125 11.2279L11.6797 13.5226C11.1719 14.069 10.3594 14.069 9.85158 13.5226L7.51564 11.0094C7.31251 10.7908 6.90626 10.5723 6.60157 10.5723H1.21875C0.507814 10.5723 0 11.2279 0 11.8835V16.0359C0 16.8008 0.609377 17.3472 1.21875 17.3472L44.3829 17.4565C45.0938 17.4565 45.7032 16.8008 45.7032 16.1452V11.8835C45.7032 11.1186 45.0938 10.5723 44.4844 10.5723H39.1016C38.6954 10.6815 38.3907 10.7908 38.1875 11.0094Z"
            fill="#333333" />
          <path
            d="M6.09382 38.0001H39.6095C40.2189 38.0001 40.7267 37.563 40.8282 36.9074L43.8751 20.4072C44.0782 19.533 43.4689 18.7681 42.6564 18.7681H3.04694C2.23444 18.7681 1.62506 19.533 1.82819 20.4072L4.87507 36.9074C4.97663 37.563 5.48444 38.0001 6.09382 38.0001ZM31.6876 21.3906C32.3985 21.3906 33.0079 22.0463 33.0079 22.7019V31.0066C33.0079 31.7715 32.3985 32.3179 31.7892 32.3179C31.0782 32.3179 30.5704 31.6623 30.5704 31.0066V22.8112C30.4689 22.0463 31.0782 21.3906 31.6876 21.3906ZM22.8517 21.3906C23.5626 21.3906 24.172 22.0463 24.172 22.7019V31.0066C24.172 31.7715 23.5626 32.3179 22.9532 32.3179C22.2423 32.3179 21.7345 31.6623 21.7345 31.0066V22.8112C21.5313 22.0463 22.1407 21.3906 22.8517 21.3906ZM13.9141 21.3906C14.6251 21.3906 15.2345 22.0463 15.2345 22.7019V31.0066C15.2345 31.7715 14.6251 32.3179 14.0157 32.3179C13.3048 32.3179 12.797 31.6623 12.797 31.0066V22.8112C12.6954 22.0463 13.3048 21.3906 13.9141 21.3906Z"
            fill="#333333" />
          <path
            d="M11.6796 10.0258L2.74213 0.409773C2.23432 -0.136591 1.42182 -0.136591 0.914002 0.409773C0.406189 0.956138 0.406189 1.83032 0.914002 2.37669L9.85152 11.9927C10.3593 12.5391 11.1718 12.5391 11.6796 11.9927C12.1875 11.4463 12.1875 10.5722 11.6796 10.0258Z"
            fill="#333333" />
          <path
            d="M44.7891 0.409773C44.2813 -0.136591 43.4688 -0.136591 42.961 0.409773L34.0235 10.0258C33.5157 10.5722 33.5157 11.4463 34.0235 11.9927C34.5313 12.5391 35.3438 12.5391 35.8516 11.9927L44.7891 2.37669C45.297 1.83032 45.297 0.956138 44.7891 0.409773Z"
            fill="#333333" />
        </svg>

        MON PANNIER
      </mat-card-title>
    </mat-card-header>
    <hr>

    <mat-card-content>

      <!--ACHAT FILM-->
      <div *ngIf="listFilms.length > 0">
        <span>Films ( {{listFilms.length}} )</span>
        <p-orderList [value]="listFilms">

          <ng-template let-film let-i="index" pTemplate="item">
            <div class="ui-helper-clearfix">
              <table>
                <tr>
                  <!--IMAGE-->
                  <td [routerLink]="['/film', film.id]">
                    <img src="https://image.tmdb.org/t/p/w500{{film.photo}}" class="image" width="48">
                  </td>

                  <td class="info">
                    <table style="width: 100%">

                      <tr>
                        <td>
                          <!--NOM / PRIX-->
                          <div class="details-nom">{{film.nom}}
                            <span style="float: right; font-size: 13px;font-weight: bolder;">{{film.prix | mycurrency}}</span>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <!--DELETE BUTTON-->
                          <div fxLayout="row" fxLayoutAlign="end center" class="trash">
                            <button class="butt" (click)="deleteF(i)"> <i class="pi pi-times" style="padding-left: 3px;font-size:20px"></i> </button>
                          </div>
                        </td>
                      </tr>

                    </table>
                  </td>

                </tr>
              </table>
            </div>
          </ng-template>

        </p-orderList>
      </div>


      <!--ACHAT Plat-->
      <div *ngIf="listPlats.length > 0">
        <span>Plats ( {{listPlats.length}} )</span>
        <p-orderList [value]="listPlats">

          <ng-template let-plat let-i="index" pTemplate="item">
            <div class="ui-helper-clearfix">
              <table>
                <tr>
                  <!--IMAGE-->
                  <td routerLink="menu">
                    <img src="assets/images/menu/{{plat.id}}.png" class="image" width="48">
                  </td>

                  <td class="info">
                    <table style="width: 100%">

                      <tr>
                        <td>
                          <!--NOM / QUANTITE-->
                          <div class="details-nom">{{plat.nom}}</div>
                          <span style="padding-left: 2px;font-size:10px;color: gray;">Quantité {{plat.quantite}}</span>
                        </td>
                        <td>
                          <span style="float: right; font-size: 13px;font-weight: bolder;">{{plat.prix * plat.quantite | mycurrency}} </span>
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>
                          <!--DELETE BUTTON-->
                          <div fxLayout="row" fxLayoutAlign="end center" class="trash">
                            <button class="butt" (click)="deleteP(i)"><i class="pi pi-times" style="padding-left: 3px;font-size:20px"></i></button>
                          </div>
                        </td>
                      </tr>

                    </table>
                  </td>

                </tr>
              </table>
            </div>
          </ng-template>

        </p-orderList>

      </div>
      <hr>

      <div class="total">Total : <span style="float: right">{{total | mycurrency}}</span></div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button class="btn-valider" routerLink="valider-panier">VALIDER MON PANIER</button>
      </div>

    </mat-card-content>
  </mat-card>

</div>
