
<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" routerLink="acceuil"><strong>MenuCinéma.com</strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link" routerLink="acceuil">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" routerLink="pizza">Pizza</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" routerLink="films">Films</a>
              </li>

          </ul>
          <ul class="navbar-nav mr-right">
            <li class="nav-item  waves-light" *ngIf="!isAuth" mdbWavesEffect>
                <a class="nav-link" routerLink="auth/signin">SignIN</a>
            </li>
            <li class="nav-item waves-light" *ngIf="!isAuth" mdbWavesEffect>
                <a class="nav-link" routerLink="auth/signup">signUp</a>
            </li>
              <li class="nav-item  waves-light" mdbWavesEffect>
                  <a *ngIf="isAuth" class="nav-link" routerLink="/profil">Profil</a>
              </li>
              <li class="nav-item  waves-light" mdbWavesEffect>
                  <a class="nav-link" (click)="onSignOut()"
                     style="cursor:pointer"
                     *ngIf="isAuth">SignOut</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a *ngIf="isAuth" class="nav-link" routerLink="panier" >Panier</a>
              </li>
        </ul>
      </links>
  </mdb-navbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>