@import "../../assets/vendor/bootstrap/css/bootstrap.min.css";
@import "../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "../../assets/vendor/animate/animate.css";
@import "../../assets/vendor/css-hamburgers/hamburgers.min.css";
@import "../../assets/vendor/select2/select2.min.css";
@import "../../assets/css/util.css";
@import "../../assets/css/main.css";
body{
  background-color: blanchedalmond;
}
video#bgvid {
  position: fixed; right: 0; bottom: 0; top:0;
  min-width: 100%; min-height: 50%;
  width: auto; height: auto; z-index: -100;
  background-image: url('../../assets/images/login-background-3.jpg') no-repeat;
  background-size: cover;
}

/*
@media screen and (max-device-width: 800px) {
	html { background-image: url('../../assets/images/login-background-3.jpg') #000 no-repeat center center fixed; }
	#bgvid { display: none; }
}*/

.compte-title{
  font-size: large;
  color: white;
  display: block;
  padding : 5% 10%;
}

.loading-shade{
  padding-top: 30%;
  margin-bottom: 50%;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  position: relative;
  video#bgvid2 {
    min-width: 100%;
    height: 900px;
    bottom: 10px;
    top: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  z-index: 2;
}
.example-form.ng-untouched.ng-pristine.ng-valid {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 730px;
}
/*
.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}*/
.button2 {
  color: white; 
  font-size: 20px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}