<!-- Main -->

<div>
<main>
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">
          <h2>MenuCinéma.com</h2>
          <h5>Premiére platform de livraison de pizzas et de films </h5>
          <br>
          <p>Mangez vos pizza tout en regardant votre film préféré  </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.Main -->
<!--Main Layout-->
</main>
<!--Main Layout-->





  <div class="contain">

    <h1 class="title">Pizzas</h1>
    <div class="row">
      <div class="row__inner">

        <div class="tile" *ngFor="let plats of pizza ; let i=index">
          <div class="tile__media">
            <img class="tile__img" src="{{plats.infos.imagePath}}" alt="" (click)="platModal.show(); ; openModel('films', plats.infos.id,i)" />
          </div>

            <div class="titlePlatModal">
              {{plats.infos.nom}}
            </div>

        </div>


      </div>
    </div>

    <div mdbModal #platModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myplatModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="platModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">{{pizzaOne.infos.nom}}</h4>
          </div>
            <table>
              <tr>
                <td>
                  <img src="{{pizzaOne.infos.imagePath}}" style="width: 15vw;">
                </td>
                <td>
                  <h3><b>Prix :</b> {{pizzaOne.infos.prix}} </h3>
                </td>
              </tr>
            </table>


          <div class="modal-body">
          </div>
          <h1>Suggestions de films</h1>
          <div class="gallery js-flickity">
            <div *ngFor="let article of articleInterface" >
              <div id="blockSuggest">
                <img class="imageSuggestion" src="https://image.tmdb.org/t/p/w500/{{article.imgPath}}">
                <label>{{article.nom}}</label>
                <button routerLink="/films/{{article.id}}" >Plus</button>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="platModal.hide()" mdbWavesEffect>Close</button>
            <button  class="btn btn-primary" (click)="ajouterPanier(pizzaOne.infos.id,pizzaOne.infos.imagePath,pizzaOne.infos.nom,'',pizzaOne.infos.type,pizzaOne.infos.prix)" style=" float: right;">ajouter</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="contain">


    <h1 class="title">Films</h1>


  <div class="row">

    <div class="row__inner">
      <app-popularMovies *ngFor="let mv of film; let i=index"
                         [posterPath]="mv.poster_path"
                         [date]="mv.release_date"
                         [idMovie]="mv.id"
                         (click)="basicModal.show(); openModel('plats', mv.id)"
                         [titre]="mv.title"
                         [popularity]="mv.popularity"
                         [moyenne]="mv.vote_average">


        <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">{{mv.title}}</h4>
              </div>

              <div class="modal-body">

                <img *ngIf="mv.poster_path!=null ; else loggedOut" class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{mv.poster_path}}" alt="Sample image">
                <ng-template #loggedOut>
                  <img  class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{mv.backdrop_path}}" alt="Card image cap">
                </ng-template>
                <p>Date : {{mv.release_date}}</p>
                <p>Popularité : {{mv.popularity}}</p>
                <p>Moyenne : {{mv.vote_average}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" routerLink="/films/{{mv.id}}" mdbWavesEffect>Détail</button>
                <button class="btn btn-success"
                        (click)="ajouterPanier(mv.id,mv.poster_path,mv.title,mv.overview,1,10)" [disabled]="!ajoutFilmPanier">Ajouter
                </button>
              </div>

              <h1>Suggestions de pizzas</h1>
              <div class="gallery js-flickity">
                <div *ngFor="let article of articleInterface" >
                  <div id="blockSuggest">
                    <img class="imageSuggestion" src="{{article.imgPath}}">
                    <label>{{article.nom}}</label>
                    <button routerLink="/pizza/{{article.id}}" >Plus</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </app-popularMovies>
    </div>
  </div>

  </div>

</div>


