<div class="container" style="display: table">
<div class="card"  *ngFor="let plats of pizza | paginate: { itemsPerPage: 8, currentPage: actualPage} ; let i=index ">
  <img class="card-img-top" src="{{plats.infos.imagePath}}" alt="Card image" >
  <div class="card-body">
    <h4 class="card-title" style="height: 1vw;">{{plats.infos.nom}} <a [routerLink]="[plats.infos.id]">Detail</a></h4>

    <button  class="btn btn-primary" (click)="ajouterPanier(plats.infos.id,plats.infos.imagePath,plats.infos.nom,i,plats.infos.type,plats.infos.prix)" style=" float: right;">ajouter</button>
  </div>
</div>
</div>

<pagination-controls (pageChange)="actualPage = $event" style="text-align: center;"></pagination-controls>