.card[_ngcontent-c2] {
  float: left;
  width: 22vw;
  margin: 1vw;
  height: 20vw;
}

img.card-img-top {
  height: 14vw;
}
.container {
  max-width: 2500px;
}

.card {
  float: left;
  width: 22vw;
  margin: 1vw;
  height: 23vw;
}
