<br><br>
<input class="search" id="cherche" type="text" placeholder="Search" aria-label="Search"  >
<button (click)= "searchFilm();" class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
<br>
<div>
    <div class="card" *ngFor="let fm of films | paginate: { itemsPerPage: 10, currentPage: actualPage}" style="margin: 2vw;">
        <!-- Card image -->
        <div [ngStyle]="{'height':'70vw'}" >
            <img *ngIf="fm.poster_path!=null ; else loggedOut" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{fm.poster_path}}" alt="Card image cap">
            <ng-template #loggedOut>
                <img [ngStyle]="{'height':'23vw'}" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{fm.backdrop_path}}" alt="Card image cap">
            </ng-template>

        </div>

        <!-- Card content backdrop_path-->
        <div class="card-body" [ngStyle]="{'height':'20vw'}">

            <!-- Title -->
            <h4 class="card-title"><a>{{fm.title}}</a></h4>
            <!-- Text -->
            <p class="card-text">Date de sorti : {{fm.release_date}}</p>
            <p class="card-text">Popularité : {{fm.popularity}}</p>
            <p class="card-text">Moyenne : {{fm.vote_average}}</p>
            <!-- Button -->
            <div [ngStyle]="{'height':'2vw','margin-bottom':'10px'}">

                <button class="btn btn-success"  [disabled]="!ajoutFilmPanier"
                        (click)="ajouterPanier(fm.id,fm.poster_path,fm.title,fm.overview,1,10)" routerLink="/acceuil">
                    Ajouter
                </button>
                <a [routerLink]="[fm.id]">Détail</a>
            </div>

        </div>

    </div>
    <pagination-controls (pageChange)="actualPage = $event" style="text-align: center;"></pagination-controls>
</div>
