<br>
<br>
<div style="text-align:center;margin: auto;
	width:550px;">
  <h3>Ajouter un patient</h3>
  <form class="example-form" [formGroup]="patForm" (ngSubmit)="addPatient()">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <label for="prénom"></label>
            <input type="text" id="prénom" class="form-control" formControlName="prénom" matInput placeholder="prénom"  required autofocus>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <label for="nom"></label>
            <input type="text" id="nom" class="form-control" formControlName="nom" matInput placeholder="nom" required autofocus>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <label for="sexe"></label>
            <mat-select id="sexe" placeholder="sexe"  formControlName="sexe" class="form-control" required autofocus>
              <mat-option value="F">F</mat-option>
              <mat-option value="M">M</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <label for="anniversaire"></label>
            <input type="date" id="anniversaire" class="form-control" formControlName="anniversaire" matInput
                   placeholder="anniversaire" required autofocus>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <label for="numSecu"></label>
            <input type="number_format" id="numSecu" class="form-control" formControlName="numSecu" #numSecu maxlength="15" maxlength="15" minlength="15" matInput
                   placeholder="numSecu(15 chiffres)" required autofocus>
            <mat-hint align="end">{{numSecu.value.length}} / 15</mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <label for="dateVisite"></label>
            <input type="date" id="dateVisite" class="form-control" formControlName="dateVisite" matInput
                   placeholder="dateVisite">
          </mat-form-field>
        </td>
      </tr>
    </table>


    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <label for="étage"></label>
        <input type="number" id="étage" class="form-control" formControlName="étage" matInput placeholder="étage">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <label for="numéro"></label>
        <input type="number" id="numéro" class="form-control" formControlName="numéro" matInput placeholder="numéro">
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <label for="rue"></label>
        <input type="text" id="rue" class="form-control" formControlName="rue" matInput placeholder="rue" required autofocus>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <label for="ville"></label>
        <input type="text" id="ville" class="form-control" formControlName="ville" matInput placeholder="ville" required autofocus>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <label for="codePostal"></label>
        <input type="number_format" id="codePostal" class="form-control" formControlName="codePostal"  matInput #postalCode maxlength="5" minlength="5"  placeholder="codePostal(5 chiffres)" required autofocus>
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
    <button type="submit" class="button" [disabled]="patForm.invalid" >Ajouter</button>
    <p style="color:red;"> {{errorMessage}}</p>
  </form>
</div>
