<div class="loading-shade" *ngIf="isLoading" fxLayoutAlign="center center">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>


<p-dataView #dv [value]="commandes" [paginator]="true" [rows]="commandes?.length" paginatorPosition="bottom"
            [filterBy]="filterBy" emptyMessage="Aucune commande trouvée" [sortField]="sortField"
            [sortOrder]="sortOrder" [alwaysShowPaginator]="false" *ngIf="!isLoading">

    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier par"
                                (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Chercher par"
                               (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-commande pTemplate="listItem">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card>
                <mat-card-content>
                    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">

                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g">
                                <div class="ui-g-6 ui-sm-6"><b>Numéro de commande: </b></div>
                                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.id}}</div>

                                <div class="ui-g-6 ui-sm-6"><b>Date de la commande: </b></div>
                                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.date | date:'medium'}}</div>

                                <div class="ui-g-6 ui-sm-6"><b>Montant de la commande: </b></div>
                                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.total | mycurrency}}</div>

                                <div class="ui-g-6 ui-sm-6"><b>Adresse de livraison: </b></div>
                                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.adresseLivraison}}</div>
                            </div>
                        </div>
                        <p-button label="Details" (click)="selectCommande($event, commande)"></p-button>&nbsp;
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
<!--      <div fxLayout="row" fxLayoutAlign="center center">-->
<!--      <mat-card>-->
<!--        <mat-card-content>-->
<!--          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">-->

<!--            <div class="ui-g-12 ui-md-8">-->
<!--              <div class="ui-g">-->
<!--                <div class="ui-g-6 ui-sm-6"><b>Numéro de commande: </b></div>-->
<!--                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.id}}</div>-->

<!--                <div class="ui-g-6 ui-sm-6"><b>Date de la commande: </b></div>-->
<!--                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.date | date:'medium'}}</div>-->

<!--                <div class="ui-g-6 ui-sm-6"><b>Montant de la commande: </b></div>-->
<!--                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.total | currency:'EUR'}}</div>-->

<!--                <div class="ui-g-6 ui-sm-6"><b>Adresse de livraison: </b></div>-->
<!--                <div class="ui-g-6 ui-sm-6" style="text-align: justify">{{commande.adresseLivraison}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <p-button label="Details" (click)="selectCommande($event, commande)"></p-button>&nbsp;-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </div>-->
    </ng-template>
</p-dataView>


<!-- Modal content-->
<!--<div class="modal-content"  ngIf*="CommandesEmpty">-->
<!--  <div class="modal-header">-->
<!--    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--    <h4 class="modal-title">Modal Header</h4>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <p>Some text in the modal.</p>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--  </div>-->
<!--</div>-->

<div class="modal-content" style="color: black" *ngIf="!CommandesEmpty">
  <div class="modal-header">
    <h4 class="modal-title">Vous pouvez choisir des Produits ou des Films</h4>
  </div>
  <div class="modal-body" style="text-align: center;">
    <button style="color: black;background-color: cyan"><a href="/menu" style="color: black;">Produits</a></button><br><br>
    <button style="color: black;background-color: cyan"><a href="/cinéma/1" style="color: black;">Films</a></button>
  </div>
</div>


<p-dialog header="Details de la commande" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [style]="{width: '500px'}" [positionTop]="70" (onHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedCommande">
        <!--Films de la commande-->
        <div class="ui-g-12"><h3>Films:</h3></div>
        <div class="ui-g-12 row" *ngFor="let f of films">
            <div class="gauche">
                <!-- url("https://image.tmdb.org/t/p/original/yXybBEC45p84D0Ky7GmQQYrclVr.jpg") -->
                <img width="100%" src="https://image.tmdb.org/t/p/original{{f.poster_path}}">
            </div>
            <div style=" margin-left : 10px; float: right"><br><br>
              <b>Titre:</b>{{f.title}}<br><br>
              <b>Prix:</b>{{forfaitFilm | currency: 'EUR'}}<br><br>
              <b>Sortie:</b>{{f.release_date}}<br><br>
            </div>
        </div>
        <hr>
        <!--Plats de la commande-->
        <div class="ui-g-12"><h3>Plats:</h3></div>
        <div class="ui-g-12 row" *ngFor="let p of plats; let i = index">
            <div class="gauche">
                <img width="100%" class="ui tiny image" src="assets/images/menu/{{p?.id}}.png">
            </div>
          <div style=" margin-left : 10px; float: right"><br><br>
            <b>Nom:</b>{{p?.nom}}<br><br>
            <b>Type:</b>{{p?.type}}<br><br>
            <b>Prix:</b>{{p?.prix | currency: 'EUR'}} <b *ngIf="platsArray[i].quantite > 1">x{{platsArray[i].quantite}}</b><br><br>
          </div>
        </div>
    </div>
</p-dialog>
