@import '../../assets/css/palette';

.head{
    display: inherit;
    z-index: 2;
    padding-top: 3%;
    padding-left: 35px;    
   // padding-bottom: 3%;

    .btn-back {
        border: none;
        background: transparent;
        color: $white;
        cursor: pointer;
    }
}


.title{
    margin-left: 30px;
    font-weight: lighter;
    font-size: 35px;    
}

.sous-title{
    font-size: 25px;    
    font-weight: lighter;
    margin-left: 10%;
}


.loading-shade{
    padding-top: 30%;
    margin-bottom: 50%;
}

.navigation {
    &--search {
        margin-bottom: 0.2rem;
        min-height: 3rem;
        line-height: 3;
        padding: 0 5.7%;
        
        .mat-form-field {
            width: 90%;
            //padding: 0 15px;
        }
        /deep/ .mat-form-field-flex {
            background-color: #fff;
            color: $black;
        }
        /deep/ .mat-form-field-label {
           
            color: $black;
        }
        .mat-icon {
            color: $black;
            height: 1.75rem;
        }
    }
}


.image{
    width: 100%;
    overflow: hidden; 
    cursor: pointer; 

    @media only screen and (max-width: 560px) {
        width: 50%;
    }
}

.trier{
    cursor: pointer;  
}

.carousel-content{
    padding: 2% 10%;
    padding-bottom: 1%;
}

.pagination{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
   
}
  