.head {
  display: inherit;
  z-index: 2;
  padding-top: 3%;
  padding-left: 35px;
  // padding-bottom: 3%;
  .btn-back {
    border: none;
    background: transparent;
    color: rgb(73, 54, 54);
    cursor: pointer;
  }
}

.loading-shade {
  padding-top: 30%;
  margin-bottom: 50%;
  height: 100%;
}

.buttonS {
  background: #F44336;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 0.5px;
  margin-bottom: 19px;
  margin-left: 15px;
  width: 100px;
}

.navigation {
  &--search {
    margin-bottom: 0.2rem;
    min-height: 3rem;
    line-height: 3;
    padding: 0 5.7%;

    .mat-form-field {
      width: 90%;
      //padding: 0 15px;
    }

    /deep/ .mat-form-field-flex {
      background-color: #fff;
      color: #111;
    }

    /deep/ .mat-form-field-label {
      color: #111;
    }

    .mat-icon {
      color: #111;
      height: 1.75rem;
    }
  }
}

.image {
  width: 100%;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
  @media only screen and (max-width: 560px) {
    width: 50%;
  }
}

.trier {
  cursor: pointer;
}

.carousel-content {
  padding: 2% 10% 1%;
}

.film-content {
  padding: 2% 0 1%;
}

mat-card {
  width: 90%;
  padding: 2%;
  margin-bottom: 5%;
  min-height: 350px;
  background: #fff;
  cursor: unset;
}

.info {
  color: #111;
  padding: 2px 5px;
  // min-height: 73px;
  font-weight: lighter;
  align-content: stretch;

  .details {
    font-size: 16px;
    padding: 0 0 10px;

    button {
      color: #fff;
      position: absolute;
      right: 1%;
      top: 80.63%;
      bottom: 70.87%;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      height: 25px;
      background: #111111;
      border-radius: 12px;

      mat-icon {
        font-size: 15px;
        line-height: 0.5;
      }
    }

    .prix {
      color: #fff;
      position: absolute;
      left: 1%;
      top: 80.63%;
      bottom: 70.87%;

      b {
        width: 110%;
        height: 25px;
        background: #F44336;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 20px;
      }
    }
  }
}

.nomFilm {
  position: absolute;
  top: 92.75%;
  bottom: 68.8%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}

.prodPlus {
  background: #F44336;
  color: #fff;
  border: none;
  text-align: center;
  width: 100%;
}

.filmPlus {
  background: #F44336;
  color: #fff;
  border: none;
  text-align: center;
  width: 100%;
}
