<!--BARRE DE RECHERCHE-->
<!-- <div class="carousel-content">
  <hr>
  <div class="navigation--search" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="fill">
      <mat-label>Rechercher tout produit plat, menu ou film</mat-label>
      <input matInput #search type="text" (keyup.enter)="searchMovies(search.value); search.value=''">

    </mat-form-field>
    <button class="buttonS" (click)="searchMovies(search.value); search.value=''">lancer</button>
  </div>
  <hr>
</div> -->

<!--CAROUSEL DES FILMS POPULAIRES-->
<div class="carousel-content">
  <h3 [ngStyle]="{'text-align':'center'}">L'OFFRE DU MOIS | MENU</h3>

  <p-carousel [value]="listToShow" [numVisible]="4" [pageLinks]="7" [responsive]="true" [responsiveOptions]="responsiveOptions">
    <ng-template let-popular pTemplate="item">
      <mat-card>
        <mat-card-content>

          <div class="info">
            <a fxLayout="row" fxLayoutAlign="center center">
              <img class="image" src="assets/images/menu/{{popular?.id}}.png" width="60%">
            </a>

            <div fxFill>
              <table class="details">
                <tr>
                  <div fxFlex="80">
                    <!--PRIX-->
                    <td class="prix">
                      <b> {{popular?.prix | mycurrency}}</b>
                    </td>
                  </div>

                  <!--AJOUT DANS LE PANIER-->
                  <div fxFlex="80">
                    <td>
                      <button (click)="pushplatsInPanier(popular)">
                        <!--<div [ngStyle]="{'background':'#111','width':'100%'}">
                            <mat-icon [ngStyle]="{'width':'50%'}">add</mat-icon>

                        </div>
                      -->
                        <mat-icon [ngStyle]="{'width':'20%','height':'20%'}">add_circle</mat-icon>
                        ajouter
                      </button>
                    </td>
                  </div>
                </tr>
              </table>
            </div>
            <b class="nomFilm"> {{popular?.nom}}</b>

          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </p-carousel>

  <button class="prodPlus" [routerLink]="['/menu']" routerLinkActive="router-link-active" style="width: 90%;left: 4%;    position: relative;">
    <h4>VOIR PLUS DE PRODUIT ...</h4>
  </button>
  <hr>

</div>
<div class="film-content">
  <h3 [ngStyle]="{'text-align':'center'}">BOX OFFICE</h3>
  <app-list-film *ngIf="!searched" [movieList]=listPopularMovies></app-list-film>
</div>
<div class="carousel-content">
  <button class="filmPlus" routerLink="/cinéma/1" style="width: 90%;left: 4%;    position: relative;">
    <h4>VOIR PLUS DE FILMS ...</h4>
  </button>
  <br>
  <br>
</div>
