<br><br><br>
<div style="display: table">
  <input class="search" type="text" placeholder="Search" aria-label="Search"  [(ngModel)]="searchQuery" >
  <button (click)="findMovie(searchQuery)" routerLink="/films"  class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit"> Search</button>
  <br>
  <div class="card" *ngFor="let fm of films | paginate: { itemsPerPage: 10, currentPage: actualPage}" style="margin: 2vw;">
    <!-- Card image -->
    <div [ngStyle]="{'height':'70vw'}" >
      <img *ngIf="fm.poster_path!=null ; else loggedOut" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{fm.poster_path}}" alt="Card image cap">
      <ng-template #loggedOut>
        <img [ngStyle]="{'height':'23vw'}" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{fm.backdrop_path}}" alt="Card image cap">
      </ng-template>

    </div>

    <!-- Card content backdrop_path-->
    <div class="card-body" [ngStyle]="{'height':'20vw'}">

      <!-- Title -->
      <h4 class="card-title"><a>{{fm.title}}</a></h4>
      <!-- Text -->
      <p class="card-text">Date de sorti : {{fm.release_date}}</p>
      <p class="card-text">Popularité : {{fm.popularity}}</p>
      <p class="card-text">Moyenne : {{fm.vote_average}}</p>
      <!-- Button -->
      <div [ngStyle]="{'height':'2vw','margin-bottom':'10px'}">

        <button class="btn btn-success"  [disabled]="!ajoutFilmPanier"
                (click)="ajouterPanier(fm.id,fm.poster_path,fm.title,fm.overview,1,10)" routerLink="/acceuil">
          Ajouter
        </button>
        <a [routerLink]="[fm.id]">Détail</a>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="!find" >
    <div class="card" *ngFor="let cmpf of film | paginate: { itemsPerPage: 10, currentPage: actualPage}" style="margin: 2vw;">
      <!-- Card image -->
      <div [ngStyle]="{'height':'70vw'}" >
        <img *ngIf="cmpf.poster_path!=null ; else loggedOut" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{cmpf.poster_path}}" alt="Card image cap">
        <ng-template #loggedOut>
          <img [ngStyle]="{'height':'23vw'}" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{cmpf.backdrop_path}}" alt="Card image cap">
        </ng-template>

      </div>

      <!-- Card content backdrop_path-->
      <div class="card-body" [ngStyle]="{'height':'20vw'}">

        <!-- Title -->
        <h4 class="card-title"><a>{{cmpf.title}}</a></h4>
        <!-- Text -->
        <p class="card-text">Date de sorti : {{cmpf.release_date}}</p>
        <p class="card-text">Popularité : {{cmpf.popularity}}</p>
        <p class="card-text">Moyenne : {{cmpf.vote_average}}</p>
        <!-- Button -->
        <div [ngStyle]="{'height':'2vw','margin-bottom':'10px'}">

          <button class="btn btn-success"  [disabled]="!ajoutFilmPanier"
                  (click)="ajouterPanier(cmpf.id,cmpf.poster_path,cmpf.title,cmpf.overview,1,10)" routerLink="/acceuil">
            Ajouter
          </button>
          <a [routerLink]="[cmpf.id]">Détail</a>
        </div>

      </div>
    </div>
  </div>


  <pagination-controls (pageChange)="actualPage = $event" style="text-align: center;"></pagination-controls>

</div>
