
<br><br><br>
<!-- Card -->
<div class="card mx-xl-5">

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
            <p class="h4 text-center py-4">Sign Up</p>

            <!-- Default input name -->
            <div class="form-group">
                <label for="email"  class="grey-text font-weight-light" >Adresse mail</label>
                <input type="text"
                       id="email"
                       class="form-control"
                       formControlName="email">
            </div>

            <br>

            <!-- Default input email -->
            <div class="form-group">
                <label for="password"  class="grey-text font-weight-light" >Mot de passe</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password">
            </div>
            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit" [disabled]="signupForm.invalid">Créer mon compte<i class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
        </form>
        <!-- Default form subscription -->
        <p class="text-danger">{{ errorMessage }}</p>
    </div>
    <!-- Card body -->

</div>
<!-- Card -->