

.cyan.darken-3 {
  background-color:  #F44336 !important;
}
.mb-5.flex-center {
  font-size: large;
}
.image{
  height: 35px;
      max-width: 80px;
      margin-right: 20px;
  background-color:none;
  font-size: large;
  }
