
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="maxImage" >
            <img src="../../assets/images/icons/facebook-app-symbol.png" class="image" style="font-size:24px">
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <img src="../../assets/images/icons/twitter.png" class="image" style="font-size:24px">
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <img src="../../assets/images/icons/google-plus.png" class="image" style="font-size:24px">
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <img src="../../assets/images/icons/linkedin.png" class="image" style="font-size:24px">
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <img src="../../assets/images/icons/instagram.png" class="image" style="font-size:24px">
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <img src="../../assets/images/icons/pinterest.png" class="image"style="font-size:24px">
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a> MenuCinéma.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
